#content
{
  text-align: center;
  color: red;
}
.des
{
  color: Aqua;
}
.heads1
{
  color: green;
}
.heads
{
  color: pink;
}
.by
{
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}
